@page "/"

<div class="row-layout my-tasks-container">
    <div class="column-layout my-tasks">
        <div class="row-layout group">
            <div class="row-layout left">
                <IgbAvatar Src="assets/a221f4a8bd65de43920e3f5b81c2fd32dd99243d.png" Shape="AvatarShape.Circle" class="avatar avatar_1" my_tasks-scope></IgbAvatar>
                <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button button_7" my_tasks-scope>
                    <span>home</span>
                    <span class="material-icons">
                        keyboard_arrow_down
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
            <div class="row-layout right">
                <div class="row-layout group_1">
                    <IgbButton Size="SizableComponentSize.Large" class="button_1 button_1_1" my_tasks-scope>
                        <span class="material-icons">
                            add
                        </span>
                        <span>task</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <span class="material-icons icon-notifications">
                        notifications
                    </span>
                    <span class="material-icons icon-chat">
                        mode_comment
                    </span>
                </div>
                <div class="row-layout group_2">
                    <IgbAvatar Src="assets/a7f211be67afc061d9571f5b5b5236cd92420e0c.png" Shape="AvatarShape.Circle" class="avatar avatar_2" my_tasks-scope></IgbAvatar>
                </div>
            </div>
        </div>
        <div class="row-layout background">
            <IgbNavDrawer Position="NavDrawerPosition.Relative" class="nav-drawer" my_tasks-scope>
                <div slot="mini">
                    <IgbNavDrawerItem class="nav-drawer-item" my_tasks-scope>
                        <span slot="icon">
                            <span class="material-icons icon">
                                check_box
                            </span>
                            <IgbRipple></IgbRipple>
                        </span>
                    </IgbNavDrawerItem>
                    <IgbNavDrawerItem class="nav-drawer-item_1" my_tasks-scope>
                        <span slot="icon">
                            <span class="material-icons icon_1">
                                dashboard
                            </span>
                            <IgbRipple></IgbRipple>
                        </span>
                    </IgbNavDrawerItem>
                    <IgbNavDrawerItem class="nav-drawer-item_1" my_tasks-scope>
                        <span slot="icon">
                            <span class="material-icons icon_1">
                                directions
                            </span>
                            <IgbRipple></IgbRipple>
                        </span>
                    </IgbNavDrawerItem>
                </div>
                <IgbNavDrawerItem class="nav-drawer-item" my_tasks-scope>
                    <span slot="icon">
                        <span class="material-icons icon">
                            check_box
                        </span>
                        <IgbRipple></IgbRipple>
                    </span>
                    <div slot="content">Title goes here</div>
                </IgbNavDrawerItem>
                <IgbNavDrawerItem class="nav-drawer-item_1" my_tasks-scope>
                    <span slot="icon">
                        <span class="material-icons icon_1">
                            dashboard
                        </span>
                        <IgbRipple></IgbRipple>
                    </span>
                    <div slot="content">Title goes here</div>
                </IgbNavDrawerItem>
                <IgbNavDrawerItem class="nav-drawer-item_1" my_tasks-scope>
                    <span slot="icon">
                        <span class="material-icons icon_1">
                            directions
                        </span>
                        <IgbRipple></IgbRipple>
                    </span>
                    <div slot="content">Title goes here</div>
                </IgbNavDrawerItem>
            </IgbNavDrawer>
            <div class="column-layout group_3">
                <h6 class="title">
                    Tasks
                </h6>
                <p class="typography__body-1 subtitle">
                    My Tasks
                </p>
                <p class="typography__subtitle-2 title_1">
                    LISTS
                </p>
                <IgbList class="listone-line-item-list" my_tasks-scope>
                    <IgbListItem>
                        <div slot="title">General</div>
                        <span slot="end" class="material-icons icon_1">
                            more_vert
                        </span>
                    </IgbListItem>
                    <IgbListItem>
                        <div slot="title">App Builder</div>
                        <span slot="end" class="material-icons icon_1">
                            more_vert
                        </span>
                    </IgbListItem>
                    <IgbListItem>
                        <div slot="title">Indigo.Design</div>
                        <span slot="end" class="material-icons icon_1">
                            more_vert
                        </span>
                    </IgbListItem>
                    <IgbListItem>
                        <div slot="title">Marketing</div>
                        <span slot="end" class="material-icons icon_1">
                            more_vert
                        </span>
                    </IgbListItem>
                    <IgbListItem>
                        <div slot="title">Customer Portal</div>
                        <span slot="end" class="material-icons icon_1">
                            more_vert
                        </span>
                    </IgbListItem>
                </IgbList>
                <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="buttonflatenabled buttonflatenabled_2" my_tasks-scope>
                    <span class="material-icons">
                        add
                    </span>
                    <span>LIST</span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <p class="typography__subtitle-2 title_2">
                    FILTERS
                </p>
                <IgbList class="listone-line-item-list" my_tasks-scope>
                    <IgbListItem>
                        <div slot="title">Due this Week</div>
                    </IgbListItem>
                    <IgbListItem>
                        <div slot="title">Overdue</div>
                    </IgbListItem>
                </IgbList>
                <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="buttonflatenabled_1 buttonflatenabled_1_1" my_tasks-scope>
                    <span class="material-icons">
                        add
                    </span>
                    <span>FILTER</span>
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
            <div class="column-layout group_4">
                <div class="row-layout group_5">
                    <div class="column-layout left_1">
                        <h5 class="title_3">
                            VD Team
                        </h5>
                    </div>
                    <div class="row-layout right_1">
                        <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_2 button_2_1" my_tasks-scope>
                            <span class="material-icons">
                                list
                            </span>
                            <span>LIST</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_3 button_3_1" my_tasks-scope>
                            <span class="material-icons">
                                drag_handle
                            </span>
                            <span>SECTION</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_4 button_4_1" my_tasks-scope>
                            <span class="material-icons">
                                label
                            </span>
                            <span>FIELDS</span>
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                        <IgbIconButton Variant="IconButtonVariant.Flat" class="button-filter" my_tasks-scope>
                            <span class="material-icons">
                                filter_list
                            </span>
                            <IgbRipple></IgbRipple>
                        </IgbIconButton>
                        <IgbIconButton Variant="IconButtonVariant.Flat" class="button-filter" my_tasks-scope>
                            <span class="material-icons">
                                more_vert
                            </span>
                            <IgbRipple></IgbRipple>
                        </IgbIconButton>
                    </div>
                </div>
                <div class="row-layout group_6">
                    <div class="column-layout group_7">
                        <div class="column-layout group_8">
                            <h6 class="title_4">
                                Developer Tools
                            </h6>
                            <p class="typography__subtitle-2 subtitle_1">
                                Release 2020.2
                            </p>
                            <IgbList class="list" my_tasks-scope>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/a06650fce7091f420c440f26201d916f775db29d.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Download any Ultimate product and take notes on the download process</div>
                                    <div slot="subtitle">Product download process experience</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/7e86e8b8b495deb8eefcdd3556151a40532211e1.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Report about the downloaded ultimate products to the Marketing Team</div>
                                    <div slot="subtitle">Product download process experience</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                            </IgbList>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_5 button_5_1" my_tasks-scope>
                                <span class="material-icons">
                                    add
                                </span>
                                <span>TASK</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                        <div class="column-layout group_9">
                            <h6 class="title_4">
                                App Builder
                            </h6>
                            <p class="typography__subtitle-2 subtitle_2">
                                September release - Sprint 1
                            </p>
                            <IgbList class="list" my_tasks-scope>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/10a04583112d68e72f71ea3d9a5d02a35bbdf8d8.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Research new sample app</div>
                                    <div slot="subtitle">New sample application</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/7e86e8b8b495deb8eefcdd3556151a40532211e1.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Create visual design for new sample app</div>
                                    <div slot="subtitle">New sample application</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/d4c387693b4db8c8354a14897762a46dcf820844.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Implementation for new sample app</div>
                                    <div slot="subtitle">New sample application</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/a7f211be67afc061d9571f5b5b5236cd92420e0c.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Tweaks in List component</div>
                                    <div slot="subtitle">App Builder UI Components\</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/a06650fce7091f420c440f26201d916f775db29d.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">QE of new App Builder components</div>
                                    <div slot="subtitle">App Builder UI Components</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/82e19827573e63ebf434524f39a708e6fd21f88a.png" slot="start" Shape="AvatarShape.Circle" class="avatar" my_tasks-scope></IgbAvatar>
                                    <div slot="title">Implementation of Chips component</div>
                                    <div slot="subtitle">App Builder UI Components</div>
                                    <span slot="end" class="material-icons icon_2">
                                        more_vert
                                    </span>
                                </IgbListItem>
                            </IgbList>
                            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button_6 button_6_1" my_tasks-scope>
                                <span class="material-icons">
                                    add
                                </span>
                                <span>TASK</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                    <div class="column-layout group_10">
                        <IgbCalendar HideHeader="false" class="calendar" my_tasks-scope></IgbCalendar>
                        <h6 class="title_5">
                            Release Calendar
                        </h6>
                        <IgbList class="list" my_tasks-scope>
                            <IgbListItem>
                                <IgbAvatar slot="start" class="avatar avatar_3" my_tasks-scope>
                                    <span class="material-icons">android</span>
                                </IgbAvatar>
                                <div slot="title">App Builder</div>
                                <div slot="subtitle">Product download process experience</div>
                                <span slot="end" class="material-icons icon_3">
                                    check_circle
                                </span>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar slot="start" class="avatar avatar_4" my_tasks-scope>
                                    <span class="material-icons">android</span>
                                </IgbAvatar>
                                <div slot="title">Ultimate Products Review</div>
                                <div slot="subtitle">08.12.2020</div>
                                <span slot="end" class="material-icons icon_4">
                                    error
                                </span>
                            </IgbListItem>
                        </IgbList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
